*.bak
*.suo
*.sdf
*.opensdf
*.pdb
*.ilk
*.bsc


bin/left_432x240.yuv
bin/lencod.exe
bin/rtp_loss.exe
bin/rtpdump.exe
bin/test.264
bin/test_foreman.264
bin/test_rec.yuv
bin/test_rec_foreman.yuv
ipch/
ldecod/Debug_Win32_vc10/
ldecod_vc10.vcxproj.user
lencod/Debug_Win32_vc10/
lencod/Debug_Win32_vc9/
lencod_vc10.vcxproj.user
rtp_loss/Debug_Win32_vc10/
rtp_loss/rtp_loss_vc10.vcxproj.user
rtpdump/Debug_Win32_vc10/
rtpdump/rtpdump_vc10.vcxproj.user